{{!-- we can call another partial template like sample below - call two another templates --}}
<div class="toolbar">{{partial "partials/breadcrumbs"}}</div>
<div class="toolbar">{{partial "partials/breadcrumbs-2"}}</div>
{{outlet}}